extends ../layouts/default.pug

block content
  .thumbnail.no-image
  .content-title 404
  .content
    .content-404 お探しのページが見つかりませんでした。変更されたか削除された可能性があります。
    .content-back
      a.btn(href!="<?= home_url('/') ?>") BACK