extends ../layouts/default.pug

block content
  .thumbnail.no-image
  .content-title BLOG
  .content
    .content-paginate <?php echo paginate_links('prev_next=0') ?>
    .content-list
      <?php while(have_posts()): the_post() ?>
      .content-list-item
        .content-list-item-title
          a(href!="<?php the_permalink() ?>") <?php the_title() ?>
        .content-list-item-excerpt <?php the_excerpt() ?>
        .content-list-item-data <?php the_time('Y/m/d') ?>
      <?php endwhile ?>
    .content-paginate <?php echo paginate_links('prev_next=0') ?>
    .content-back
      a.btn(href!="<?= home_url('/') ?>") BACK