doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <?php wp_head() ?>
  body(class!="<?= esc_attr(implode(' ', get_body_class())) ?>")
    header.header
      h1.header-title
        a(href!="<?= home_url('/') ?>")
          <?php include('assets/img/logo.svg') ?>

      nav.header-nav <?php wp_nav_menu() ?>

    main.main
      block content
    footer.footer
      .footer-copy (C) <?= date('Y') ?> GGDEV.BIZ
    a.toggler(href="javascript:" data-js-toggler)
      <?php include('assets/img/logo.svg') ?>
    <?php wp_footer() ?>