.section-about-us{
  overflow: hidden;
}

.about-us-first,
.about-us-second{
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  &-image{
    margin-left: $grid-gutter-width * -0.5;
    margin-right: $grid-gutter-width * -0.5;
    padding: $grid-gutter-width * 0.25;
    background: $secondary;
    img{
      max-width: 100%;
      height: auto;
    }
  }
  &-heading{
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.875rem;
    text-align: left;
    margin: 1.5rem 0 1rem;
    color: $secondary;
    &::before{
      content: attr(data-en-heading);
      font-size: 2.1875rem;
      font-weight: bold;
      font-family: 'Roboto Condensed', sans-serif;
      color: $secondary;
      display: block;
      line-height: 3.125rem;
      border-bottom: 3px $secondary solid;
      margin-right: auto;
      margin-bottom: 15px;
      padding-bottom: 7px;
      float: left;
    }
    div{
      clear: both;
    }
  }
  &-text{
    font-size: 0.9375rem;
    line-height: 1.75rem;
    text-align: left;
    margin: 1rem 0 0;
    color: $thirdly;
  }
  @include media-breakpoint-up(md) {
    margin-top: 3rem;
    margin-bottom: 6rem;
    &-image{
      padding: 0;
      max-width: 125%;
      width: 125%;
      position: relative;
      background: transparent;
      img{
        width: 100%;
        position: relative;
        z-index: 2;
      }
      &::before{
        content: "";
        background: $secondary;
        position: absolute;
        top: $grid-gutter-width * -0.5;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }
    &-heading{
      font-size: 1.5625rem;
      line-height: 2.5rem;
      margin: 0 0 2.5rem;
      &::before{
        font-size: 3.125rem;
        line-height: 4.6875rem;
        border-bottom: 5px $secondary solid;
        margin-bottom: 23px;
        padding-bottom: 5px;
      }
    }
    &-text{
      font-size: 1.0625rem;
      line-height: 2.1875rem;
      margin: 0;
    }
  }
}
.about-us-first{
  @include media-breakpoint-up(md) {
    &-image{
      margin-left: 0;
      margin-right: -25%;
      &::before{
        left: $grid-gutter-width * -0.5;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &-content{
      margin-right: 3rem;
    }
  }
}
.about-us-second{
  @include media-breakpoint-up(md) {
    &-image{
      margin-left: -25%;
      margin-right: 0;
      &::before{
        right: $grid-gutter-width * -0.5;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &-content{
      margin-left: 3rem;
    }
  }
}