.section-features{
  @include media-breakpoint-up(lg) {
    margin: 0 0 6rem;
  }
}

.features-list{
  margin-top: 3rem;
  &-item{
    margin: 0 0 4.5rem;
    &-image{
      padding: 50px 0;
      text-align: center;
      background: $white;
      img{
        max-width: 40%;
        height: auto;
      }
      &::before{
        content: attr(data-item-number);
        display: block;
        width: 60px;
        height: 60px;
        padding: 20px;
        border-radius: 50%;
        margin: -80px auto 20px;
        text-align: center;
        background: $white;
        color: $secondary;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        font-family: 'Roboto Condensed', sans-serif;
        line-height: 20px;
      }
    }
    &-title{
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1.75rem;
      min-height: 3.5rem;
      text-align: left;
      margin: 1.5rem 0 1rem;
      color: $secondary;
      display: flex;
      align-items: center;
      span{
        font-size: 1.5rem;
        font-weight: bold;
        font-style: italic;
        font-family: 'Roboto Condensed', sans-serif;
      }
    }
    &-text{
      font-size: 0.9375rem;
      line-height: 1.75rem;
      text-align: left;
      margin: 1rem 0 0;
      color: $thirdly;
    }
  }
  @include media-breakpoint-only(md) {
    &-item{
      &-title{
        text-align: center;
        margin: 0 0 1rem;
      }
      &-text{
        text-align: center;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &-item{
      &-title{
        font-size: 1.5625rem;
        line-height: 2.5rem;
        min-height: 5rem;
        text-align: center;
        span{
          font-size: 2.1875rem;
        }
      }
      &-text{
        font-size: 1.0625rem;
        line-height: 2.1875rem;
        text-align: center;
      }
    }
  }
}