.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 10px 0;
  background-color: $white;
  @include media-breakpoint-up(md) { 
    padding: 0;
    &-container{
      max-width: 100%;
      padding: 0 0 0 20px;
    }
  }
  &-brand{
    h1{
      margin: 0;
    }
    @include media-breakpoint-up(md) { 
      h1{
        img{
          width: auto;
          height: 40px;
        }
      }
    }
  }
  &-sp-nav-toggler{
    @include media-breakpoint-up(md) {
      &-link{
        display: block;
        padding: 17.5px;
      }
    }
    @include media-breakpoint-up(lg) { 
      display: none !important;
    }
  }
  &-sp-button{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    &-item{
      width: 50%;
      &-link{
        color: $white !important;
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        padding-right: 1rem;
        transition: background 1s;
        &-primary{
          padding-top: 0.25rem;
          padding-bottom: 0.75rem;
          background:$primary;
          &:hover{
            background:darken($primary,10%);
          }
          span{
            font-size: 125%;
          }
          font-weight: 700;
        }
        &-secondary{
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          background:$secondary;
          &:hover{
            background:darken($secondary,10%);
          }
        }
      }
    }
    &-businesshour {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 50%;
      height: 20px;
      line-height: 20px;
      font-size: 10px;
      background: transparent;
      text-align: center;
      font-weight: bold;
      color: $white;
      z-index: 2;
    }
    @include media-breakpoint-up(md) { 
      margin-left: auto;
      position: static;
      display: flex;
      &-item{
        width: auto;
        &-link{
          display: block;
          padding: 17.5px 25px;
          span{
            display: none;
          }
          &-primary{
            position: relative;
            img{
              margin-top: -15px;
              margin-bottom: 15px;
            }
          }
        }
      }
      &-businesshour {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 30px;
        line-height: 15px;
      }
    }
    @include media-breakpoint-up(lg) { 
      &-item{
        &-link{
          span{
            display: inline;
            padding-right: 1rem;
          }
          &-primary{
            img{
              margin-top: 0;
              margin-bottom: 0;
            }
          }
        }
      }
      &-businesshour {
        height: 20px;
        line-height: 20px;
      }
    }
  }
}

.global-nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba($black, 0.9);
  transition: 0.5s;
  transform: translateY(100%);
  opacity: 0;
  @at-root body.show-nav-global &{
    transform: translateY(0%);
    opacity: 1;
  }
  &-toggler{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    &-link{
      display: block;
      margin: 0 auto 10px;
      width: 50px;
      text-decoration: none;
      .label{
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        font-family: 'Zen Old Mincho', serif;
        color: $white;
      }
    }
  }
  &-container{
    flex-wrap: wrap;
    align-items: stretch;
  }
  &-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid $secondary;
    flex-basis: 47.5%;
    width: 47.5%;
    min-height: 100px;
    margin: 10px 0;
    text-decoration: none;
    background-color: $white;
    .ja{
      color: $secondary;
      font-size: 17px;
      line-height: 20px;
      font-family: 'Zen Old Mincho', serif;
    }
    .en{
      color: $fifthly;
      font-size: 12px;
      line-height: 20px;
      font-family: 'Roboto Condensed', sans-serif;
    }
  }
  @include media-breakpoint-up(lg) { 
    position: fixed;
    top: 85px;
    bottom: auto;
    background: rgba($white, 0.75);
    transition: 0;
    transform: translateY(0%);
    opacity: 1;
    &-toggler{
      display: none !important;
    }
    &-container{
      flex-wrap: wrap;
      align-items: stretch;
    }
    &-item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 0;
      flex-basis: 16.66%;
      width: 16.66%;
      min-height: 65px;
      margin: 0;
      text-decoration: none;
      background-color: transparent;
      transition: 0.5s;
      &:hover{
        background-color: rgba($secondary, 0.8);
        .ja{
          color: $white;
        }
        .en{
          color: $sixthly;
        }
      }
      .ja{
        font-size: 15px;
      }
      .en{
        font-size: 11px;
      }
      .ja,
      .en{
        width: 100%;
        text-align: center;
        display: block;
        border-right: 0.25px solid $sixthly;
      }
      &:first-child {
        .ja,
        .en{
          border-left: 0.25px solid $sixthly;
        }
      }
    }
  }
}