.section-staffs {
  .staff-background {
    position: relative;
    background: $white;
    display: flex;
    align-items: center;
    &-image{
      display: none;
      z-index: 1;
    }
    &-overlay{
      position: relative;
      z-index: 2;
    }
    @include media-breakpoint-up(md) {
      &-image{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 50vh;
      }
    }
    @include media-breakpoint-up(lg) {
      &-image.reverse{
        top: 0;
        left: 0;
        right: auto;
        width: 50%;
        height: 100%;
        background-attachment: fixed !important;
      }
      &-image.default{
        top: 0;
        left: auto;
        right: 0;
        width: 50%;
        height: 100%;
        background-attachment: fixed !important;
      }
    }
  }
}

.staff-introduce{
  padding-top: 1rem;
  padding-bottom: 3rem;
  &-title{
    font-size: 1.25rem;
    line-height: 2rem;
    font-family: 'Zen Old Mincho', serif;
    color: $secondary;
    background: rgba($sixthly, 0.25);
    text-align: center;
    h3{
      font-weight: normal;
      margin: 0;
      padding: 1rem 2rem;
    }
  }
  &-en_name{
    color: rgba($sixthly, 0.25);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    font-size: 2.8125rem;
    line-height: 2.8125rem;
    text-align: right;

  }
  &-header{
    &-name-and-role{
      font-size: 0.75rem;
      line-height: 1.25rem;
      color: $secondary;
    }
    &-likes-q-and-a{
      font-size: 0.75rem;
      line-height: 1.25rem;
      color: $secondary;
    }
  }
  &-content {
    margin: 1rem 0 0;
    img {
      max-width: 100%;
      height: auto;
    }
    p {
      font-size: 0.8125rem;
      line-height: 1.5rem;
      color: $secondary;
    }
  }
  &-data {
    margin: 1rem 0;
    font-size: 0.8125rem;
    line-height: 1.5rem;
    color: $secondary;
    &-row{
      padding: 0.46875rem 0;
    }
  }
  @include media-breakpoint-up(lg) {
    padding-top: 3rem;
    padding-bottom: 6rem;
    &-title{
      font-size: 2.1875rem;
      line-height: 3.125rem;
      h3{
        padding: 1.5rem 3rem;
      }
    }
    &-en_name{
      font-size: 4.6875rem;
      line-height: 4.6875rem;
    }
    &-header{
      &-name-and-role{
        font-size: 0.9375rem;
        line-height: 1.875rem;
      }
      &-likes-q-and-a{
        font-size: 0.9375rem;
        line-height: 1.875rem;
      }
    }
    &-content {
      p {
        font-size: 1.0625rem;
        line-height: 1.875rem;
      }
    }
    &-data {
      margin: 0;
      font-size: 1.0625rem;
      line-height: 1.875rem;
    }
  }
}