$black: #111;
$green: #00af28;
$white: #eee;

html {
  font-family: "Bebas Neue", "Noto Sans JP", serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  color: $black;
  background: $white;
  letter-spacing: 0.1rem;

  .btn {
    min-width: 10rem;
    text-align: center;
    display: inline-block;
    padding: 1rem;
    background: $green;
    border: 2px solid $green;
    color: $white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    box-sizing: border-box;
    letter-spacing: 0.1rem;
    &:hover {
      opacity: 0.75;
    }
  }

  .input {
    display: block;
    padding: 1rem;
    background: ligten($white, 10%);
    color: $black;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid $green;
    // transition: 0.3s;
    // &:hover {
    //   opacity: 0.75;
    // }
  }
}

header.header {
  box-sizing: border-box;
  max-height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: $white;
  transition: 0.3s;
  @at-root body:not(.home) & {
    z-index: 1000;
    left: -200px;
    right: auto;
    bottom: 0;
    width: 200px;
    background: $green;
  }
  @at-root body.show-menu:not(.home) & {
    left: 0;
  }
  @media screen and (min-width: 960px) {
    padding: 3rem 1rem;
    @at-root body:not(.home) & {
      left: 0;
    }
    @at-root body.show-menu:not(.home) & {
      left: 0;
    }
  }

  h1.header-title {
    padding: 0;
    margin: 3rem 0;
    text-align: center;
    a {
      color: $green !important;
      svg {
        transition: 0.3s;
      }
      @at-root body:not(.home) & {
        color: $white !important;
        svg {
          width: 127.5px;
          height: 60px;
        }
      }
    }
  }

  nav.header-nav {
    > div {
      text-align: center;
      > ul.menu {
        list-style: none;
        padding: 0;
        margin: 0;
        > li {
          padding: 0;
          margin: 1rem 0;
          font-size: 1.5rem;
          line-height: 2;
          > a {
            text-decoration: none;
            color: $black;
            transition: 0.3s color;
          }
        }
        > li.current-menu-item a,
        > li a:hover {
          color: $green;
          @at-root body:not(.home) & {
            color: $white;
          }
        }
      }
    }
  }
}

main.main {
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
  @media screen and (min-width: 960px) {
    margin-left: 200px;
  }
  @at-root body.home & {
    display: none;
  }
  .thumbnail {
    line-height: 0 !important;
    max-width: 100%;
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 4/3;
      object-fit: cover;
    }
    &.no-image {
      aspect-ratio: 4/3;
      background: url(assets/img/gg_img01.jpg) center center no-repeat;
      background-size: cover;
    }
    @media screen and (min-width: 960px) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 100px;
      img {
        height: 100%;
        aspect-ratio: none;
      }
      &:after {
        content: "";
        display: block;
        background: rgba($white, 0.8);
        position: absolute;
        width: 800px;
        height: 100%;
        top: 0;
        left: 200px;
      }
    }
  }

  .content-title {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    box-sizing: border-box;
    font-size: 2rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -75vw;
    background: rgba($white, 0.5);
    @media screen and (min-width: 960px) {
      aspect-ratio: auto;
      background: none;
      font-size: 3rem;
      padding: 5rem 3rem;
      margin-top: 0;
    }
  }

  .content {
    box-sizing: border-box;
    padding: 1.5rem;
    @media screen and (min-width: 960px) {
      // min-height: calc(100vh - 100px);
      // background: rgba($white, 0.8);
      position: relative;
      padding: 3rem;
    }
  }

  .content-paginate {
    margin: 1rem 0;
    a,
    span {
      text-decoration: none;
      min-width: auto !important;
      @extend .btn;
    }
    a {
      color: $green;
    }
    span.current {
      color: rgba($black, 0.75);
    }
  }
  .content-list {
    margin: 0 -1.5rem;
    border-top: 1px solid rgba($black, 0.25);
    &-item {
      padding: 0.75rem 1.5rem;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid rgba($black, 0.25);
      &-title {
        font-size: 1.5rem;
        line-height: 2em;
        a {
          color: $black;
          &:hover {
            color: $green;
            text-decoration: none;
          }
        }
      }
      &-excerpt {
        font-size: 0.8rem;
        line-height: 1.5em;
        color: rgba($black, 0.75);
        p {
          margin: 0;
        }
      }
      &-data {
        font-size: 0.8rem;
        line-height: 1.5em;
        color: rgba($black, 0.75);
        text-align: right;
      }
    }
    @media screen and (min-width: 960px) {
      margin: 0 -3rem;
      &-item {
        padding: 1.5rem 3rem;
      }
    }
  }
  .content-404 {
    text-align: center;
    line-height: 2;
  }
  .form {
    &-control {
      margin: 0 0 1rem;
      &-label {
        margin: 0.5rem 0;
        display: block;
      }
      &-input {
        input {
          box-sizing: border-box;
          width: 100%;
        }
      }
    }
    &-submit {
      text-align: center;
      button {
        margin: 0 auto;
      }
    }
    @media screen and (min-width: 960px) {
      &-control {
        display: flex;
        &-label {
          margin: 1.2rem 0;
        }
        &-label,
        &-input {
          flex-basis: 50%;
        }
      }
    }
  }
  .content-nextprev {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
    > a,
    > span {
      @extend .btn;
    }
    span {
      background: rgba($black, 0.25) !important;
      border-color: transparent !important;
      &:hover {
        opacity: 1 !important;
      }
    }
  }
  .content-back {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
  }
}

footer.footer {
  box-sizing: border-box;
  margin: 3rem auto;
  text-align: center;
  position: relative;
  @media screen and (min-width: 960px) {
    margin-left: 200px;
    max-width: 800px;
  }
  @at-root body.home & {
    display: none;
  }
}

a.toggler {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: $green;
  color: $white;
  transition: 0.3s background;
  svg {
    width: 40px;
    height: auto;
    padding: 16px 5px;
  }
  @at-root body.home & {
    display: none;
  }
  @at-root body.show-menu:not(.home) & {
    z-index: 999;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.25);
  }
}

// $primary: #ffa6a8 !default;
// $secondary: #022c48 !default;
// $thirdly: #3b5574 !default;
// $fourthly: #6888be !default;
// $fifthly: #c0d0e4 !default;
// $sixthly: #a1a3a0 !default;
// $required: #f00 !default;

// $font-size-root: 20px !default;

// $theme-colors: (
//   "primary":   $primary,
//   "secondary": $secondary,
//   "thirdly":   $thirdly,
//   "fourthly":  $fourthly,
//   "fifthly":   $fifthly,
//   "sixthly":   $sixthly,
//   "light":     lighten($sixthly, 33.33%),
//   "required":  $required
// ) !default;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1280px
// ) !default;

// $container-max-widths: (
//   sm: 450px,
//   md: 720px,
//   lg: 940px,
//   xl: 1200px
// ) !default;

// $grid-columns:      12 !default;
// $grid-gutter-width: 2.5rem !default;
// $grid-row-columns:  6 !default;

// @import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;700;900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Zen+Old+Mincho:wght@400;700;900&display=swap');

// .roboto{
//   font-family: 'Roboto Condensed', sans-serif;
// }
// .mincho{
//   font-family: 'Zen Old Mincho', serif;
// }
// .container-1400{
//   margin: 0 auto;
//   max-width: 1400px;
// }

// @import "../../node_modules/bootstrap/scss/bootstrap";
// @import "header";
// @import "footer";
// @import "page";
// @import "section";
// @import "about-us";
// @import "features";
// @import "staffs";
// @import "qa";
// @import "blog-news";
// @import "recruit";
// @import "contact";

// // key visual animation and movie
// .main{
//   &-keyvisual{
//     .swiper{
//       min-height: 100vh;
//       &-wrapper{
//         min-height: 100vh;
//       }
//       &-slide{
//         min-height: 100vh;
//         background-position: center center !important;
//         background-repeat: no-repeat !important;
//         background-size: cover !important;
//         position: relative;
//         &-content{
//           position: absolute;
//           left: 0;
//           right: 0;
//           bottom: 75px;
//           h1 {
//             font-size: 1.3125rem;
//             line-height: 1.3125rem;
//             font-weight: bold;
//             margin-bottom: 2.1875rem;
//             div{
//               margin-bottom: -1rem;
//               overflow: hidden;
//               transition: 1s;
//               transition-delay: 300ms;
//               width: 0%;
//               > span {
//                 display: inline-block;
//                 position: relative;
//                 color: $white;
//                 padding: 1.5rem 0.5rem;
//                 &:before{
//                   content: "";
//                   position: absolute;
//                   top: 0;
//                   left: 0;
//                   right: 0;
//                   bottom: 0;
//                   background: $secondary;
//                 }
//                 > span {
//                   display: inline-block;
//                   white-space: nowrap;
//                   position: relative;
//                   overflow: hidden;
//                   transition: 1300ms;
//                   transition-delay: 700ms;
//                   width: 0%;
//                 }
//               }
//             }
//           }
//           p {
//             font-size: 0.9375rem;
//             line-height: 1.5625rem;
//             color: transparent;
//             margin-bottom: 0;
//             span{
//               color: $secondary;
//               transition: 0.5s;
//               opacity: 0;
//             }
//           }
//           &.show{
//             h1 {
//               div.show{
//                 width: 100%;
//                 > span {
//                   > span {
//                     width: 100%;
//                   }
//                 }
//               }
//             }
//             p {
//               span.show {
//                 opacity: 1;
//               }
//             }
//           }
//         }
//       }
//       @include media-breakpoint-up(md) {
//         &-slide{
//           &-content{
//             bottom: 100px;
//             h1 {
//               font-size: 1.875rem;
//               line-height: 1.875rem;
//               margin-bottom: 3.125rem;
//               div{
//                 margin-bottom: -1.2rem;
//                 > span {
//                   padding: 1.7rem 1rem;
//                 }
//               }
//             }
//             p {
//               font-size: 1.0625rem;
//               line-height: 1.875rem;
//             }
//           }
//         }
//       }
//       @include media-breakpoint-up(xl) {
//         &-slide{
//           &-content{
//             bottom: 100px;
//             h1 {
//               font-size: 2.625rem;
//               line-height: 2.625rem;
//               margin-bottom: 4.375rem;
//               div{
//                 margin-bottom: -1.4rem;
//                 > span {
//                   padding: 2.1rem 1.5rem;
//                 }
//               }
//             }
//             p {
//               font-size: 1.25rem;
//               line-height: 2.1875rem;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// @import "wp-content"; // inc/editor-style.cssをコピーする
